/* Common styles */
@charset "UTF-8";
body
{
	margin:8px;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    float: left;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font */
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Arial', sans-serif; /* Change font */
    font-size: 16px;
}

.nav-links li a:hover {
    color: #ffd700;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif; /* Change font for h2 */
}

/* Styles for the delete form */
#deleteForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#deleteForm input[type="number"]::-webkit-inner-spin-button,
#deleteForm input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#deleteForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#deleteForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#deleteForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#deleteForm button[type="submit"]:hover {
    background-color: #554;
}
